[Unit]
Description=My Go Application

[Service]
ExecStart=/home/guobin/hellogo
Restart=always
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target